<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ServiExpress</title>
</head>
<body>
    <!--nav-bar con logo incluido-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="https://i.ibb.co/0jZGZJd/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            ServiExpress
        </a>
        <form class="form-inline my-2 my-lg-0">
            <input type="text" placeholder="Search" class="form-control mr-sm-2">
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Search</button>
        </form>
    </nav>
</body>
</html>