.copyrights-wrapper {
    background-color: #f8f8f8; /* Cambia el color de fondo según tus preferencias */
    padding: 20px 0; /* Ajusta el espacio interno según tus preferencias */
    text-align: center; /* Centra el contenido */
}

.min-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.min-footer p {
    margin-bottom: 10px; /* Ajusta el margen inferior del párrafo según tus preferencias */
}

.min-footer img {
    max-width: 100%;
    height: auto;
}
