<!-- boleta_template.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boleta de Pago</title>
    <style>
        /* Tus estilos CSS personalizados aquí */
    </style>
</head>
<body>
    <div class="boleta">
        <div class="encabezado">
            {% csrf_token %}
            <p>{{ reserva.servicio.nombre }} - Boleta de Pago</p>
            <p>Fecha de emisión: {{ factura.fecha }}</p>
        </div>
        <div class="detalles">
            <p>Cliente: {{ reserva.cliente.nombre }} {{ reserva.cliente.apellido }}</p>
            <p>Fecha de reserva: {{ reserva.fecha }}</p>
            <p>Hora: {{ reserva.hora }}</p>
            <p>Servicio: {{ reserva.servicio.nombre }}</p>
            <p>Total: ${{ factura.total }}</p>
        </div>
    </div>
</body>
</html>
