{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrar Productos</title>
    <link rel="stylesheet" href="../../static/css/indexAdministrador.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->
</head>
<body>
    <h2>Modulo Administrador</h2>
    <p>Bienvenido, administrador. Aquí puedes gestionar los Módulos.</p>
    
    <!-- Barra de navegación -->
    <nav>
        <ul>

            
            <!-- Desplegable para GestionProductos -->
            <li class="dropdown">
                <a href="#" class="dropbtn">GestionProductos</a>
                <div class="dropdown-content">
                    <a href="{% url 'crear_producto' %}">Crear Producto</a>
                    <a href="{% url 'lista_productos' %}">Lista de Productos</a>
                    <a href="{% url 'editar_producto' id_producto=1 %}">Editar Producto</a>
                </div>
            </li>
            
            <!-- Desplegable para GestionProveedores -->
            <li class="dropdown">
                <a href="#" class="dropbtn">GestionProveedores</a>
                <div class="dropdown-content">
                    <a href="{% url 'crear_proveedor' %}">Crear Proveedor</a>
                    <a href="{% url 'lista_proveedores' %}">Lista de Proveedores</a>
                    <a href="{% url 'editar_proveedor' proveedor_id=1 %}">Editar Proveedor</a>
                </div>
            </li>
             <!-- Desplegable para GestionServicio -->
             <li class="dropdown">
                <a href="#" class="dropbtn">GestionServicio</a>
                <div class="dropdown-content">
                    <a href="{% url 'crear_servicio' %}">Crear Servicio</a>
                    <a href="{% url 'lista_servicios' %}">Lista de Servicios</a>
                    <a href="{% url 'editar_servicio' id_servicio=1 %}">Editar Servicio</a>
                </div>
            </li>

             <!-- Desplegable para Gestion Calendario -->
             <li class="dropdown">
                <a href="#" class="dropbtn">Gestion Calendario</a>
                <div class="dropdown-content">
                    <a href="{% url 'guardar_reserva' %}">Crear Reserva</a>
                    <a href="{% url 'calendar' %}">Calendario</a>
                </div>
            </li>

             <!-- Desplegable para Gestion Orden de Compra -->
             <li class="dropdown">
                <a href="#" class="dropbtn">Gestion Orden de Compra</a>
                <div class="dropdown-content">
                    <a href="{% url 'crear_servicio' %}">Crear Orden de Compra</a>
                    <a href="{% url 'lista_ordenes_de_compra' %}">Lista Orden de Compra</a>
                </div>
            </li>

             <!-- Desplegable para Gestion Usuarios -->
             <li class="dropdown">
                <a href="#" class="dropbtn">Gestion Usuarios</a>
                <div class="dropdown-content">
                    <a href="{% url 'crear_cliente' %}">Registrarse</a>
                    <a href="{% url 'crear_empleado' %}">Crear empelado</a>
                    <a href="{% url 'crear_usuario' %}">Lista Administrados</a>
                </div>
            </li>            
            <li>
                <a href="{% url 'base' %}">Volver</a>
            </li>
    </ul>
</nav>


<script>
    // Cierra el dropdown si se hace clic fuera de él
    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            for (var i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.style.display === 'block') {
                    openDropdown.style.display = 'none';
                }
            }
        }
    }
</script>

</body>
</html>
