{% load static %}

<!DOCTYPE html>
<html lang="esp">
<head>
    <title>OnTour</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="../static/imgs/ServiExpress.png">

    
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- page Navigation -->
    <nav class="navbar custom-navbar navbar-expand-md navbar-light fixed-top" data-spy="affix" data-offset-top="10">
        <div class="container">
            <a class="navbar-brand" href="http://127.0.0.1:8000/">
                <img src="{% static 'imgs/ServiExpress.png' %}" alt="">
            </a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">                     
                    <li class="nav-item">
                        <a class="nav-link" href="modulos">modulos</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Of Second Navigation -->

    <!-- Page Header -->
    
    <header class="header">
        <div class="overlay">
            <h1 class="title">¡Bienvenido a ServiExpress!</h1>
            <h1 class="subtitle">Encuentra todo lo que necesitas para tu vehículo aquí</h1>  
        </div>  
        <div class="shape">
            <svg viewBox="0 0 1500 200">
                <path d="m 0,240 h 1500.4828 v -71.92164 c 0,0 -286.2763,-81.79324 -743.19024,-81.79324 C 300.37862,86.28512 0,168.07836 0,168.07836 Z"/>
            </svg>
        </div>  
        <div class="mouse-icon"><div class="wheel"></div></div>
    </header>
    <!-- End Of Page Header -->

    <!-- Page Footer -->
    <footer class="mt-5 py-4 border-top border-secondary">
        <p>&copy; 2023 Ontour. Todos los derechos reservados.</p>    
    </footer>

</body>
</html>
