<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Acceso</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="icon" type="image/x-icon" href="../static/imgs/ServiExpress.png">
</head>
<body id="cuerpo-login">
    
    <div class="contenedor-fcm">
        <div class="interior-fcm">
            <div class="formulario-fcm">
                <h1 class="titulo-fcm">ServiExpress</h1>
                
                <form action="http://127.0.0.1:8000/" id="formularioIngreso" method="post">
                    {% csrf_token %}

                    <div class="input-container">
                        <input type="text" placeholder="Usuario" class="entrada-login" name="usuario" required title="Ingrese un usuario" value="">
                    </div>
                    <div class="input-container">
                        <input type="password" placeholder="Contraseña" class="entrada-login" name="contrasena" required id="contrasena" title="Ingrese una Contraseña" value="">
                    </div>
                    <div>
                        <input type="checkbox" id="mostrarContrasena" title="Mostrar Contraseña" />
                        <label id="etiquetaContrasena">Mostrar Contraseña</label>
                    </div>
                    <button data-text="Ingresar" type="submit">Ingresar</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        const entradaContrasena = document.getElementById("contrasena");
        const mostrarContrasenaCheckbox = document.getElementById("mostrarContrasena");

        mostrarContrasenaCheckbox.addEventListener("change", function () {
            entradaContrasena.type = mostrarContrasenaCheckbox.checked ? "text" : "password";
        });
    </script>
</body>
</html>
