<!-- templates/lista_servicios.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Servicios</title>
</head>
<body>
    <h2>Lista de Servicios</h2>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
        {% for servicio in servicios %}
            <tr>
                <td>{{ servicio.id_servicio }}</td>
                <td>{{ servicio.nombre }}</td>
                <td>{{ servicio.descripcion }}</td>
                <td>{{ servicio.precio }}</td>
                <td>
                    <a href="{% url 'editar_servicio' servicio.id_servicio %}">Editar</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
