{% extends 'Modulos.html' %}
{% block content %}
    <!-- Otras partes de tu HTML... -->

    <h2 class="title">Buscar Cliente</h2>
    <form class="search-form" method="GET" action="{% url 'BuscarReserva' %}">
        <div class="form-group">
            <label for="rut">Rut</label>
            <input type="text" class="form-control" id="rut" name="rut" placeholder="" pattern="\d{7,8}-[\d|kK]{1}" title="Ingresa un rut válido (ejemplo: 20204996-6)">
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>

    {% if cliente %}
        <h3 class="subtitle">Información del Cliente</h3>
        <p>Rut: {{ cliente.rut }}</p>
        <p>Nombre: {{ cliente.nombre }}</p>
        <p>Apellido: {{ cliente.apellido }}</p>
        <!-- Otros campos del cliente... -->

        <h3 class="subtitle">Reservas del Cliente</h3>
        <ul>
            {% for reserva in reservas %}
                <li>{{ reserva.fecha }} - {{ reserva.servicio.nombre }} - {{ reserva.total }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Otras partes de tu HTML... -->
{% endblock %}
