{% extends 'Modulos.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Reserva</title>
    <!-- CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/ModuloReserva/calendar.css' %}">
    <link rel="icon" type="image/x-icon" href="../static/imgs/ServiExpress.png">
</head>
<body>
    <h1>Formulario de Reserva</h1>
    <form method="post" action="{% url 'guardar_reserva' %}">
        {% csrf_token %}
        
        <!-- Campo Cliente -->
        <label for="cliente">Cliente:</label>
        <select name="cliente" id="cliente" required>
            <option value="" selected>Seleccione</option>  
            {% for cliente in clientes %}
                <option value="{{ cliente.rut }}">{{ cliente.rut }} {{ cliente.nombre }}</option>
            {% endfor %}
        </select>
        
        <!-- Campo Fecha -->
        <label for="fecha">Fecha:</label>
        <input type="date" name="fecha" id="fecha" required>
        
        <!-- Campo Hora -->
        <label for="hora">Hora:</label>
        <input type="text" name="hora" id="hora" required>
        
        <!-- Campo Servicio -->
        <label for="servicio">Servicio:</label>
        <select name="servicio" id="servicio" required>
            <option value="" selected>Seleccione</option>  
            {% for servicio in servicios %}
                <option value="{{ servicio.id_servicio }}">{{ servicio.nombre }} </option>
            {% endfor %}
        </select>
    
        
        <input type="submit" value="Guardar Reserva">
    </form>
</body>
</html>
{% endblock %}
